@charset "UTF-8";

body{
    background-color: darkseagreen;
    margin: 0px;
}

header{
    background-color: forestgreen;
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.474);
}

header > h1{
    color: white;
    padding: 2px;
    text-align: center;
}

header > p{
    text-align: center;
    color: white;
}

nav > a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

main{
    background-color: white;
    margin: 0px 200px;
    padding: 2px;
}

article > h2{
   background-color:rgba(93, 159, 93, 0.526);
   color: rgb(45, 76, 45);
   margin: 20px;
   padding: 0px 10px;
}

article > p{
    text-align: justify;
    text-indent: 1.5em;
    background-color: white;
    padding: 5px;
    margin: 20px;
}

article > img{
    background-color: aqua;
    background-image: center;
}

footer{
    background-color:  forestgreen;
    padding: 4px;
    margin: 0px;
    
}

footer > p{
    margin: 0px;
   
}