@charset "UTF-8";

*{
    background-color: rgb(19, 17, 17);
}

.titulo{
  text-align: center;
}

#video{
  
  display: flex;
  justify-content: center;
}

h1{
  color: white;
}

#button,button{
    border-radius: 100%;
    text-align: center;
}

